"WebApp/src/main/resources/application.properties"    git add .gitignore   git commit -m "Ignore application.properties from commits"
"WebApp/src/main/resources/application.properties" 
"WebApp/src/main/resources/application.properties" 
